<link rel="stylesheet" href="/css/form-header-style.css">

<div class="form_header text-center">
    <div class="logo">
        <a href="/">
            <img src="/images/logo2_1.png" class="img-responsive" alt="K.E.S. Shroff College"
                title="K.E.S. Shroff College" width="150">
        </a>
    </div>
    <!-- <div class="h3">
        <div class="blockquote">
            <span class="h2">L<span class="h5">earning</span> </span>
            <span class="h2">M<span class="h5">anagement</span></span>
            <span class="h2">S<span class="h5">ystem</span></span>
            <div class="blockquote-footer">
                Initiative by <cite class="h5" title="K.E.S. Shroff College">K.E.S. Shroff College</cite>
            </div>
        </div>
    </div> -->
</div>